<!DOCTYPE html>
<html>
  <head>
    <title>Jonas Klein</title>
    {% include 'bootstrap.html' %}
  </head>
  <body>
    {% include 'navbar.html' %}
    {% include 'banner.html' %}
    <div class="container">
      <h1 class="text-center mt-2 mb-4">
        Welcome to my website! - Jonas Klein
      </h1>
      <div class="row" style="margin-bottom:32px">
        <div class="col-md-12">
          <h4>About me</h4>
          <p class="lead">
        At Jovian, we’re on a mission to build the most highly reputed technical university in the world, and we’re building it completely online. Our flagship data science program helps working professionals with a background in programming or analytics make a career transition to data science. We also offer several free beginner-friendly courses and have a fast-growing community of 200,000+ users.
          </p>
        </div>
        <div class="d-none d-md-block col-md-12">
        </div>
      <div>
          {% include 'socials.html' %}
      </div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>